@font-face {
    font-family: 'quicksanddash';
    src: url('/assets/quicksand_dash-webfont.woff2') format('woff2'),
         url('/assets/quicksand_dash-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandbold';
    src: url('/assets/quicksand-bold-webfont.woff2') format('woff2'),
         url('/assets/quicksand-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandbold_italic';
    src: url('/assets/quicksand-bolditalic-webfont.woff2') format('woff2'),
         url('/assets/quicksand-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksanditalic';
    src: url('/assets/quicksand-italic-webfont.woff2') format('woff2'),
         url('/assets/quicksand-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandlight';
    src: url('/assets/quicksand-light-webfont.woff2') format('woff2'),
         url('/assets/quicksand-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandlight_italic';
    src: url('/assets/quicksand-lightitalic-webfont.woff2') format('woff2'),
         url('/assets/quicksand-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandregular';
    src: url('/assets/quicksand-regular-webfont.woff2') format('woff2'),
         url('/assets/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}